{% extends "client/auction_base.html" %}
{% load currency %}
{% load datatables %}
{% load staticfiles %}

{% block header_left %}<a href="{% url 'client:home' %}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>&nbsp;Back</a>{% endblock %}

{% block auction_content %}
    <h4 class="page_title text-center">{{ auction.name }}</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Items</th>
                <th>Item Name</th>
                <th>Minimum Bid</th>
            </tr>
        </thead>
        <tbody>
        {% for item in all_items %}
            <tr class="hyperlinked_row" data-href="{% url 'client:item_detail' auction_id=auction_id pk=item.id %}">
                <td>
                    {% for image_url in item.image_urls %}
                        <img src="{{ image_url }}" alt="Item Picture" width="50px" height="50px">
                    {% endfor %}
                </td>
                <td>
                    {{ item.name }}
                </td>
                <td>
                    {{ item.min_price|currency }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block extended_scripts %}
{{ block.super }}
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".hyperlinked_row").click(function() {
            location = $(this).data("href");
        });
    });
</script>
{% endblock %}