{% extends "client/auction_item_list_base.html" %}
{% load currency %}

{% block auction_content %}
    <h4 class="page_title text-center">{{ auction.name }}</h4>
    <h5 class="text-center">Auction ends {{ auction.end_time }}</h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan=3>Winning Items</th>
            </tr>
        </thead>
        <tbody>
        {% for item in winning_items %}
            <tr class="hyperlinked_row" data-href="{% url 'client:item_detail' auction_id=auction_id pk=item.id %}">
                <td>
                    {% for image_url in item.image_urls %}
                        <img src="{{ image_url }}" alt="Item Picture" width="50px" height="50px">
                    {% endfor %}
                </td>
                <td>
                    {{ item.name }}
                </td>
                <td>
                    {{ item.highest_bid.amount|currency }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <table class="table table-Other">
        <thead>
            <tr>
                <th colspan=3>Losing Items</th>
            </tr>
        </thead>
        <tbody>
        {% for item in losing_items %}
            <tr class="hyperlinked_row" data-href="{% url 'client:item_detail' auction_id=auction_id pk=item.id %}">
                <td>
                    {% for image_url in item.image_urls %}
                        <img src="{{ image_url }}" alt="Item Picture" width="50px" height="50px">
                    {% endfor %}
                </td>
                <td>
                    {{ item.name }}
                </td>
                <td>
                    {{ item.highest_bid.amount|currency }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <table class="table table-Other">
        <thead>
            <tr>
                <th colspan=3>Unbid Items</th>
            </tr>
        </thead>
        <tbody>
        {% for item in other_items %}
            <tr class="hyperlinked_row" data-href="{% url 'client:item_detail' auction_id=auction_id pk=item.id %}">
                <td>
                    {% for image_url in item.image_urls %}
                        <img src="{{ image_url }}" alt="Item Picture" width="50px" height="50px">
                    {% endfor %}
                </td>
                <td>
                    {{ item.name }}
                </td>
                <td>
                    {{ item.highest_bid.amount|currency }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
