{% extends "client/auction_base.html" %}
{% load currency %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block auction_content %}
<br>
<div class="row text-center">
    <div class="col-md-12">
        <h3>{{ object.name }}</h3>
    </div>
    <br>
    <div class="col-md-12">
        {% for pictureurl in object.image_urls %}
                <img src="{{ pictureurl }}" alt="Item Picture" height="200px">
        {% endfor %}
    </div>
</div>

<div class="row text-center">
    <div class="col-md-12">
        <p><h4>Current Bid: {{ object.highest_bid.amount|currency }}</h3></p>
    </div>
</div>

<div class="row text-center">
    <div class="col-xs-12">
        <div class="col-md-12">
            <h5>{{ object.description }}</h5>
        </div>
    </div>
</div>
{% endblock %}