# Python bytecode
*.py[cod]
*__py

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
static/*

# Logs
logfile
pip-log.txt
*.log

# Unit test / coverage reports
cover/*
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Eclipse Project Files
.settings/
*.project
*.pydevproject
*.prefs

# Sphinx
docs/_build
htmlcov
build

# OSX
.DS_Store

# Editor temp files:
*.swp
*~
\#*#

# SQLite3 database files
*.db
*.json

# Secret Files
.env

