# Eclipse Project Files
.settings/
*.project
*.pydevproject
*.prefs

# Python bytecode:
*.py[cod]
*.pyc
__pycache__

# Packaging files:
*.egg*

# Editor temp files:
*~
*.swp
*.swo

# Sphinx docs:
build

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
*.pot

# SQLite3 database files:
*.db

# Logs:
*.log
pip-log.txt

# Environment Files
.env

# Local settings
local.py
