<!DOCTYPE html>
{% load static %}
{% load compile_static %}
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Bidr Silent Auction System | Web Client |{% block subtitle %}{% endblock %}</title>

        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="{% get_static_prefix %}{% compile 'less/client.less' %}" type="text/css" />

        <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        {% block extended_head %}{% endblock %}
    </head>

    <body>
        <div class="container-fluid">
            {% block header %}{% endblock %}
            <div class="container" style="padding: 0">
                {% block content %}{% endblock %}
            </div>
        </div>

        <script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        {% block extended_scripts %}{% endblock %}
    </body>
</html>