{% extends 'admin_base.html' %}
{% block navbar_fixed %}{% endblock %}

{% block auction_stages %}
    <h1 class="page_title text-left">{{ auction.name }} <a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></h1>
    <div class="row" id="stages">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id="stage_tracker">
            <ol>
                <a href="{% url 'auction_plan' slug=org_slug auction_id=auction.id %}"><li id="plan_stage">Plan</li></a>
                <a href="{% url 'auction_observe' slug=org_slug auction_id=auction.id %}"><li id="observe_stage">Observe</li></a>
                <a href="{% url 'auction_claim' slug=org_slug auction_id=auction.id %}"><li id="claim_stage">Claim</li></a>
                <a href="{% url 'auction_report' slug=org_slug auction_id=auction.id %}"><li id="report_stage">Report</li></a>
            </ol>
        </div>
    </div>
{% endblock %}

{% block admin_content %}
    {% block auction_inner %}{% endblock %}
{% endblock %}