{% extends 'admin_base.html' %}

{% block navbar_fixed %}{% endblock %}

{% block admin_content %}
    <h1 class="page_title text-left">{{ org_name }} <a data-toggle="modal" data-target="#update_org_modal" href="{% url 'update_organization' slug=org_slug %}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></h1>
    <div class="row object_list">
        <ul>
            <h2>Active Auctions</h2>
            {% for auction in auction_list %}
            <li><h4><a href="{% url 'auction_plan' slug=org_slug auction_id=auction.id %}">{{ auction.name }}</a></h4></li>
            {% empty %}
            <li><h1>You don't have any auctions.</h1></li>
            {% endfor %}
        </ul>
    </div>
    <a href="{% url 'create_auction' slug=org_slug %}"><button type="button" class="btn btn-xl">Create Auction</button></a>
    
<div class="modal fade" id="update_org_modal" tabindex="-1" role="dialog" aria-labelledby="update_org_modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title" id="myModalLabel">
            Loading...
        </h1>
      </div>
      
      <div class="modal-body">
        This should take just a second...
      </div>
      
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
{% endblock %}