{% extends 'admin_base.html' %}

{% block navbar_fixed %}{% endblock %}

{% block admin_content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page_title text-center">{{ org_name }} <a data-toggle="modal" data-target="#update_org_modal"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 object_list">
            <h2>Upcoming Auctions</h2>
            <ul>
                {% for auction in upcoming_auctions %}
                    <li><h4><a href="{% url 'auction_plan' slug=org_slug auction_id=auction.id %}">{{ auction.name }}</a></h4></li>
                {% empty %}
                    <li><h4>You don't have any upcoming auctions.</h4></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4 object_list">
            <h2>Active Auctions</h2>
            <ul>
                {% for auction in active_auctions %}
                    <li><h4><a href="{% url 'auction_plan' slug=org_slug auction_id=auction.id %}">{{ auction.name }}</a></h4></li>
                {% empty %}
                    <li><h4>You don't have any active auctions.</h4></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4 object_list">
            <h2>Complete Auctions</h2>
            <ul>
                {% for auction in complete_auctions %}
                    <li><h4><a href="{% url 'auction_plan' slug=org_slug auction_id=auction.id %}">{{ auction.name }}</a></h4></li>
                {% empty %}
                    <li><h4>You don't have any auctions.</h4></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="{% url 'create_auction' slug=org_slug %}"><button type="button" class="btn btn-xl">Create Auction</button></a>
        </div>
    </div>
    
<div class="modal fade" id="update_org_modal" tabindex="-1" role="dialog" aria-labelledby="update_org_modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1 class="modal-title" id="create_item">Update Organization</h1>
            </div>
            
            <div class="modal-body text-left embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{% url 'update_organization' slug=org_slug %}"></iframe>
            </div>
            
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
{% endblock %}