{% extends 'auctions/auction_base.html' %}
{% load staticfiles %}
{% load currency %}

{% block navbar_fixed %}{% endblock %}
{% block manage_modal_buttons %}{% endblock %}
{% block manage_modal %}{% endblock %}
{% block auction_inner %}
    
        <table class="table table-hover" onload="check_no_bid()">
        <thead>
            <tr>
                <th>Item Picture</th>
                <th>Item Name</th>
                <th>Highest Bidder</th>
                <th>Current Highest Bid</th>
                <th>Unclaimed Items</th>
            </tr>
        </thead>
        <tbody>
        {% for item in unclaimed_items %}
                <tr class="hyperlinked_row" data-toggle="modal" data-target="#item_modal_{{item.id}}" id="item_{{ item.id }}">
                    <td>
                        {% for image_url in item.image_urls %}
                            <img src="{{ image_url }}" alt="Item Picture" height="100px">
                        {% endfor %}  
                    </td>
                    <td>
                        {{ item.name }}
                    </td>
                    
                    <td>
                        {{ item.highest_bid.user }}
                    </td>
                    <td>
                        {{ item.highest_bid.amount|currency }}
                    </td>
                    <td>
                        <button class="btn btn-default" type="button" onclick="claim_item({{ item.id }}, {{ item.highest_bid.id }})">
                            Claim 
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>    
    </table>   
    {% for item in unclaimed_items %}
        <div class="modal fade" id="item_modal_{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="item_modal_{{item.id}}" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1 class="modal-title" id="myModalLabel">
                    {{ item.name }}
                </h1>
              </div>
              
              <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        {% for pictureurl in item.image_urls %}
                                <img src="{{ pictureurl }}" alt="Item Picture" height="100px">
                        {% endfor %}
                    </div>
                    <div class="col-md-8">
                        <h4>{{ item.description }}</h4>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-12">
                        <p><h3>Bid History</h3></p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>User Email</th>
                                    <th>Time</th>
                                    <th>Bid</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for bid in item.get_bids_by_amount %}
                                <tr>
                                    <td class="text-left">
                                        {{ bid.user.get_full_name }} 
                                    </td>
                                    <td class="text-left">
                                        {{ bid.user }} 
                                    </td>
                                    <td class="text-left">
                                        {{ bid.time_delta }}
                                    </td>
                                    
                                    <td class="text-left">
                                        {{ bid.amount|currency }}
                                    </td>
                                    <td>
                                        <button class="btn btn-default" type="button" onclick="remove_bid({{ item.id }}, {{ bid.id }})">
                                            Remove bid 
                                        </button>
                                        item.
                                    </td>
                                </tr>
                                </a>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
{% endblock %}
{% block extended_scripts %}
{{ block.super }}
    <script type="text/javascript">
        function claim_item(item_id, bid_id) {
            var response = confirm('Are you sure this item has been claimed?');
            if (response) {
                ajaxPost("{% url 'claim_item' slug=org_slug auction_id=auction.id %}", {"item_id": item_id, "bid_id": bid_id}, function(response_context) {
                    $("#item_" + item_id).remove();
                });
            }
            else {
                return false;
            }
        }
        function remove_bid(item_id, bid_id) {
            var response = confirm('Are you sure you want to remove the highest bid?');
            if (response) {
                ajaxPost("{% url 'remove_bid' slug=org_slug auction_id=auction.id %}", {"item_id": item_id, "bid_id": bid_id}, function(response_context) {
                    $("#bid_" + bid_id).remove();
                });    
            }
        }
        function check_no_bid(){
//             console.log("Console in check no bid outside")
//             print("Print in check no bid outside")
//             ajaxPost("{% url 'claim_item' slug=org_slug auction_id=auction.id %}", function(response_context) {
//                 console.log("Console in check no bid")
//                 print("Print in check no bid")
//                 });
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#plan_stage").addClass("inactive");
            $("#observe_stage").addClass("inactive");
            $("#claim_stage").addClass("active");
        });
    </script>
{% endblock %}
