{% extends 'auctions/auction_base.html' %}
{% load staticfiles %}
{% load currency %}

{% block navbar_fixed %}{% endblock %}

{% block auction_inner %}
    
        <table class="table table-hover">
        <thead>
            <tr>
                <th>Item Picture</th>
                <th>Item Name</th>
                <th>Highest Bidder</th>
                <th>Current Highest Bid</th>
                <th>Unclaimed Items</th>
            </tr>
        </thead>
        <tbody>
        {% for item in unclaimed_items %}
                <tr class="hyperlinked_row" data-toggle="modal" data-target="#item_modal_{{item.id}}" id="item_{{ item.id }}">
                    <td>
                        {% for image_url in item.image_urls %}
                            <img src="{{ image_url }}" alt="Item Picture" height="100px">
                        {% endfor %}  
                    </td>
                    <td>
                        {{ item.name }}
                    </td>
                    
                    <td>
                        {{ item.highest_bid.user }}
                    </td>
                    <td>
                        {{ item.highest_bid.amount|currency }}
                    </td>
                    <td>
                        <button class="btn btn-default" type="button" onclick="claim_item({{ item.id }}, {{ item.highest_bid.id }})">
                            Claim 
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>   
{% endblock %}
{% block extended_scripts %}
{{ block.super }}
    <script type="text/javascript">
        function claim_item(item_id, bid_id) {
            var response = confirm('Are you sure this item has been claimed?');
            if (response) {
                ajaxPost("{% url 'claim_item' slug=org_slug auction_id=auction.id %}", {"item_id": item_id, "bid_id": bid_id}, function(response_context) {
                    $("#item_" + item_id).remove();
                });
            }
            else {
                return false;
            }
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#plan_stage").addClass("inactive");
            $("#observe_stage").addClass("inactive");
            $("#claim_stage").addClass("active");
        });
    </script>
{% endblock %}
