{% extends 'admin_base.html' %}
{% load widget_tweaks %}
{% block navbar_fixed %}{% endblock %}

{% block admin_content %}
<h2>Create Auction</h2>
<form method="POST" name="auction_create" id="auction_create">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <p class="help-block text-danger">{{ form.non_field_errors }}</p>
            <div class="form-group">
                {% render_field form.name placeholder="Auction Name *" required=true class+="form-control" %}
                <p class="help-block text-danger">{{ form.name.errors }}</p>
            </div>
            <div class="form-group">
                {% render_field form.description placeholder="Description *" required=true class+="form-control" %}
                <p class="help-block text-danger">{{ form.description.errors }}</p>
            </div>
            <div class="form-group">
                <div class='input-group date' id='start_time_datepicker'>
                    {% render_field form.start_time placeholder="Start Time *" title="YYYY-MM-DD hh:mm:ss" required=true class+="form-control" %}
                    <p class="help-block text-danger">{{ form.start_time.errors }}</p>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                </div>
            </div>
            <div class="form-group">
                <div class='input-group date' id='end_time_datepicker'>
                    {% render_field form.end_time placeholder="End Time *" title="YYYY-MM-DD hh:mm:ss" required=true class+="form-control" %}
                    <p class="help-block text-danger">{{ form.end_time.errors }}</p>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                </div>
            </div>
            <div class="form-group">
                {% render_field form.bid_increment placeholder="Bid Increment" class+="form-control" %}
                <p class="help-block text-danger">{{ form.bid_increment.errors }}</p>
            </div>
            <div class="form-group">
                {% render_field form.optional_password placeholder="Optional Password" class+="form-control" %}
                <p class="help-block text-danger">{{ form.optional_password.errors }}</p>
            </div>
            {% csrf_token %}
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-12 text-center">
            <button type="submit" form="auction_create" class="btn btn-xl">Create</button>
        </div>
    </div>
</form>
{% endblock %}

{% block extended_scripts %}
{{ block.super }}
    <script type="text/javascript">
    $(document).ready(function() {
        $('#start_time_datepicker').datetimepicker({
            format: 'YYYY-MM-DD hh:mm'
        });
    });
    </script>
    
    <script type="text/javascript">
    $(document).ready(function() {
        $('#end_time_datepicker').datetimepicker({
            format: 'YYYY-MM-DD hh:mm'
        });
    });
    </script>
{% endblock %}