{% extends 'admin_base.html' %}
{% block navbar_fixed %}{% endblock %}

{% block admin_content %}
<p><h4>Item Overview</h4></p>

<img src="{{ object.picture.url }}" alt="Item Picture">
<p>{{ object.description }}</p>

<p><h4>Bid History</h4></p>
<table class="table">
        <thead>
            <tr>
                <th>User Email</th>
                <th>Time</th>
                <th>Bid</th>
            </tr>
        </thead>
        <tbody>
        {% for bid in object.bids.all %}
            <tr>
                <td>
                    {{ bid.user }} 
                </td>
                <td>
                    {{ bid.timestamp }}
                </td>
                
                <td>
                    {{ bid.amount }}
                </td>
            </tr>
            </a>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}