{% extends 'admin_base.html' %}
{% block navbar_fixed %}{% endblock %}

{% block admin_content %}
Let's Report an auction!
<div class="row">
    <div class="col-md-8">
        <h3 class="section-heading text-left">Sold Items</h3>
    </div>
    <div class="col-md-4">
        <h3 class="section-heading">Total Income</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h3 class="section-heading text-left">Unsold Items</h3>
    </div>
    <div class="col-md-4">
        <h3 class="section-heading">Bider Turnout</h3>
    </div>
</div>
     
{% endblock %}