{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form name="create_item_form" id="create_item_form" method="POST">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                    <p class="help-block text-danger">{{ form.non_field_errors }}</p>
                    <div class="form-group">
                    <label for="id_name">Auction Name *</label>
                        {% render_field form.name required=true class+="form-control" %}
                        <p class="help-block text-danger">{{ form.name.errors }}</p>
                    </div>
                    <div class="form-group">
                        {% render_field form.description required=true class+="form-control" %}
                        <p class="help-block text-danger">{{ form.description.errors }}</p>
                    </div>
                    <div class="form-group">
                        <div class='input-group date' id='end_time_datepicker'>
                            {% render_field form.end_time title="YYYY-MM-DD hh:mm:ss" required=true class+="form-control" %}
                            <p class="help-block text-danger">{{ form.end_time.errors }}</p>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        {% render_field form.optional_password class+="form-control" %}
                        <p class="help-block text-danger">{{ form.optional_password.errors }}</p>
                    </div>
                    {% csrf_token %}
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                    <button type="submit" form="auction_update" class="btn btn-xl">Update</button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block extended_scripts %}
{{ block.super }}
    <script type="text/javascript">
    $(document).ready(function() {
        $('#end_time_datepicker').datetimepicker({
            format: 'YYYY-MM-DD hh:mm:ss'
        });
    });
    </script>
{% endblock %}
