body,
html {
  height: 100%;
}
body {
  background-color: white;
  font-family: "Montserrat";
  font-weight: 400;
}
h4 {
  margin: 40px 0 20px 0;
}
h5 {
  font-size: 14px;
  margin: 20px 0 10px 0;
}
#header {
  height: 40px;
  background-color: #3cc761;
  line-height: 40px;
  color: white;
}
#header a {
  color: white;
}
.client-logout,
.client-logout:hover,
.client-logout:focus,
.client-logout:active {
  color: white;
}
/* LOGIN */
#bidr_bird_splash {
  margin-top: 70px;
  margin-bottom: 40px;
}
.splash-label {
  color: white;
}
.splash-button {
  margin-top: 40px;
  color: #34b557;
}
.splash-button:active,
.splash-button:hover,
.splash-button:focus {
  color: #2ea24d;
}
.text-danger,
.errorlist li {
  color: #e74c3c;
}
.errorlist {
  padding-left: 15px;
}
/* AUCTION LIST */
.auction-list {
  margin-top: 20px;
}
.hyperlinked_row {
  cursor: pointer;
}
/* ITEMS */
.bid-button {
  margin: 10px 0 20px 0;
  color: #34b557;
}
/* NAV PILLS */
.nav-pills.center {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.nav-pills > li > a {
  margin-top: 20px;
}
.nav-pills > li.left > a {
  border-radius: 10px 0 0 10px;
}
.nav-pills > li.center > a {
  border-radius: 0;
}
.nav-pills > li.right > a {
  border-radius: 0 10px 10px 0;
}
.nav-pills > li > a {
  color: #3cc761;
  border: 1px solid #3cc761;
  padding: 6px 14px;
}
.nav-pills > li > a:hover,
.nav-pills > li.active > a:hover,
.nav-pills > li > a:focus,
.nav-pills > li.active > a:focus,
.nav-pills > li > a:active,
.nav-pills > li.active > active,
.nav-pills > li.active > a {
  background-color: #3cc761;
  color: white;
  cursor: pointer;
}
.nav-pills > li + li {
  margin: 0;
}
