{% extends "client/auction_item_list_base.html" %}
{% load currency %}

{% block auction_content %}
    <h4 class="page_title text-center">{{ auction.name }}</h4>
    <h5 class="text-center">Auction starts {{ auction.start_time }}</h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan=3>Items</th>
            </tr>
        </thead>
        <tbody>
        {% for item in all_items %}
            <tr class="hyperlinked_row" data-href="{% url 'client:item_detail' auction_id=auction_id pk=item.id %}">
                <td>
                    {% for image_url in item.image_urls %}
                        <img src="{{ image_url }}" alt="Item Picture" width="50px" height="50px">
                    {% endfor %}
                </td>
                <td>
                    {{ item.name }}
                </td>
                <td>
                    {{ item.total_starting_bid|currency }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
