@bidrgreen: rgb(60, 199, 97);
@brand-danger: rgb(231, 76, 60);

@headerheight: 40px;

body, html {
    height: 100%;
}

body {
    background-color: white;
    font-family: "Montserrat";
    font-weight: 400;
}

h4 {
    margin: 40px 0;
}

#header {
    height: @headerheight;
    background-color: @bidrgreen;
    line-height: @headerheight;
    color: white;
    
    a {
        color: white;
    }
}

.client-logout, .client-logout:hover, .client-logout:focus, .client-logout:active {
    color: white;
}

/* LOGIN */
#bidr_bird_splash {
    margin-top: 70px;
    margin-bottom: 40px;
}

.splash-label {
    color: white;
}

.splash-button {
    margin-top: 40px;
    color: darken(@bidrgreen, 5%);
}

.splash-button:active, .splash-button:hover, .splash-button:focus {
    color: darken(@bidrgreen, 10%);
}

.text-danger, .errorlist li {
    color: @brand-danger;
}

.errorlist {
    padding-left: 15px;
}

/* AUCTION LIST */

.auction-list {
    margin-top: 20px;
}

.hyperlinked_row {
    cursor: pointer;
}

/* NAV PILLS */

.nav-pills.center {
    display: flex;
    justify-content: center;
}

.nav-pills > li > a {
    margin-top: 20px;
}

.nav-pills > li.left > a {
    border-radius: 10px 0 0 10px;
}

.nav-pills > li.center > a {
    border-radius: 0;
}

.nav-pills > li.right > a {
    border-radius: 0 10px 10px 0;
}

.nav-pills > li > a {
    color: @bidrgreen;
    border: 1px solid @bidrgreen;
    padding: 6px 14px;
}

.nav-pills > li > a:hover, .nav-pills > li.active > a:hover, 
.nav-pills > li > a:focus, .nav-pills > li.active > a:focus, 
.nav-pills > li > a:active, .nav-pills > li.active > active, 
.nav-pills > li.active > a {
    background-color: @bidrgreen;
    color: white;
    cursor: pointer;
}

.nav-pills > li + li {
    margin: 0;
}